/* Google font - montserrat */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  border-left: 4px solid #FF0B86;
  font-size: 45px;
  font-weight: 700;
  padding-left: 20px;
}

.main {
  margin-top: 80px;
}

form input {
  background: #f0f0f0;
  border: none;
  border-left: 2px solid #fff;
  font-size: 36px;
  padding: 20px;
  width: 100%;
  transition: background 2s, border-left 2s;
}

form input:focus {
  background: #fff;
  border-left: 2px solid #000;
  box-shadow: none;
  outline: none;
}

button.btn {
  background: transparent;
  border: none;
  color: #FF0B86;
  cursor: pointer;
  font-size: 36px;
  padding: 20px 24px;
  transition: background 1s, color 1s;
}

button.btn:hover {
  background: #FF0B86;
  color: #fff;
}

.comments {
  margin-top: 20px;
  list-style: none;
  padding-left: 0px;
}

li {
  padding-left: 20px;
  border-left: 2px solid #000;
  font-size: 30px;
  margin: 0 0 36px;
}
